[package]
name = "meeting-server"
version = "0.1.0"
edition = "2021"

[dependencies]
axum.workspace = true
tokio.workspace = true
serde.workspace = true
serde_json.workspace = true
sqlx = { version = "0.8.6", features = ["runtime-tokio", "tls-rustls-aws-lc-rs", "sqlite"] }
uuid = { version = "1.0", features = ["v4", "serde"] }
db = { path = "../db" }
